<ion-view>
<ion-header-bar class="bar-positive head" > 
       <button ui-sref="info"  class="button button-dark icon ion-information-circled"></button>  
  	   <h1 class="title" align-title="center"><img ng-src="img/logo.jpg" id="logo" height="100%" /></h1>  
       <button ng-hide="online" ng-click="showAlert()"  class="button button-energized icon ion-alert-circled nonet"></button> 
 </ion-header-bar>   
 <div class="bar bar-subheader bar-positive">	 
	 <!--  <button ng-click="back()" style="width: 10%;max-width: 40px;" class="button button-dark icon ion-android-arrow-back"></button> -->
	   <h2 class="title">Sample History</h2>
	   <button ng-click="logout()" style="background-color: #FF8A80" class="button icon ion-log-out"></button>
  </div>	
<ion-content class="padding has-subheader has-footer" ng-controller="login">
<div style="text-align:center;">
	<button class="button button-positive" style="margin-top: 10%;" ui-sref="past">Past Orders</button>
	<br>
	<button class="button button-positive" style="margin-top: 5%" ui-sref="pending">Pending Survey</button>
</div>
 </ion-content>
 <ion-footer-bar>
  <div class="tabs tabs-icon-top tabs-positive">
    <a ng-click="home(hem)" class="tab-item" >
      <i class="icon ion-home"></i>Home
    </a>
    <a ng-click="cart()" class="tab-item" ng-model="chckLength">{{chckLength}}
      <i class="icon ion-android-cart">
      </i>Cart
    </a>
    <a  href='#/settings' class="tab-item" > <!-- href='#/settings/{{chose}}' -->
      <i class="icon ion-gear-b"></i>Settings
    </a>
    <a style="color: #18FFFF" class="tab-item"> 
      <i class="icon ion-android-time"></i>History
    </a>
  </div> 
</ion-footer-bar>
</ion-view>