<ion-view>
<ion-header-bar class="bar-positive head">
      
       <button ng-click="back()" id="helped" class="button button-dark icon ion-android-arrow-back"></button>
  
  <h1 class="title" align-title="center"><img ng-src="img/logo.jpg" id="logo" height="100%" /></h1>
  
  <button ng-hide="online" ng-click="showAlert()" id="helped" class="button button-energized icon ion-alert-circled nonet"></button> 

 </ion-header-bar>  
 

  <ion-content class="padding has-footer">
  <ion-scroll direction="y" style="height: 560px">
    <div class="list card">
      <div id="bh" class="item item-divider">About</div>
      <div class="item item-body">
        <span>In statistics and quantitative research methodology, a data sample is a set of data collected and/or selected from a statistical population by a defined procedure. The elements of a sample are known as sample points, sampling units or observations.</span>
      </div>
      <div id="bh" class="item item-divider">Contact Us</div>
      <div  class="item">
       <button id="bhg" class="button">Prithivraj K</button>     
       <br>  
       <button class="button button-icon icon ion-iphone icon-left">8760445439</button>
       <button class="button button-icon icon ion-email icon-left">prethive200@gmail.com</button>
      </div>
      <div class="item">
       <button id="bhg" class="button">Sanjeev</button>     
       <br>  
       <button class="button button-icon icon ion-iphone icon-left">XXXXXXX</button>
       <button class="button button-icon icon ion-email icon-left">sanjeev@gmail.com</button>
      </div>
      <div id="bh" class="item item-divider"> Locate Us     	
      </div>
      <div class="item item-body">
      	<span>
      		Our Locations :
      	</span>
      	<p>
      		Chennai
      		<br>
      		U.S.
      	</p>
      </div>
    </div>
    </ion-scroll>
  </ion-content>
  
</ion-view> 