
<ion-view ng-controller="login">

<ion-header-bar class="bar-positive head">      
       <!-- <button ui-sref="info" id="helped" class="button button-dark icon ion-information-circled"></button> -->
       <h1 class="title" align-title="center"><img ng-src="img/logo.jpg" id="logo" height="100%" /></h1>
       <button ng-hide="online" ng-click="showAlert()" id="helped" class="button button-energized icon ion-alert-circled nonet"></button> 
 </ion-header-bar>   

	<div class="bar bar-subheader bar-positive">
	   <h2 class="title">Profile</h2>
	   <button ng-click="logout()" style="background-color: #FF8A80" class="button icon ion-log-out"></button>
  </div>	
	
  <ion-content class="padding has-subheader">
   <ion-scroll direction="y" style="height: 520px">
   <form name="myForm" novalidate>	
    <div class="list list-inset">
	    <label style="border-color: green;border-radius: 10px" class="item item-input item-stacked-label">
		  <span class="input-label" style="color: #387ef5">Name</span>
		  <input type="text" name="name" ng-model="profile.name"  pattern="[a-zA-Z0-9\s]*" ng-minlength="3" required>
	    </label>
      <br>
      <span id="sp" ng-show="myForm.name.$invalid">
      <span ng-show="myForm.name.$error.required">*Name is required</span>
      <span ng-show="myForm.name.$error.pattern">*Only letters are allowed</span>
      <br>
      <span ng-show="myForm.name.$error.minlength">*Minimum of 3 letters is required</span>    
      </span>
    </div>
   <div class="list list-inset">      
        <label style="border-color: #1B5E20;border-radius: 10px;" class="item item-input item-stacked-label"> 
        <span class="input-label" style="color: #387ef5">Address</span>
        <textarea rows="6" name="address" ng-model="profile.deladd" clearInput required></textarea>
        </label> 
        <br>
        <span id="sp" ng-show="myForm.address.$error.required">*Address is required</span> 
   </div>

   <div class="list list-inset">      
        <label style="border-color: #1B5E20;border-radius: 10px;" class="item item-input item-stacked-label"> 
        <span class="input-label" style="color: #387ef5">Pincode</span>
        <input type="tel" name="pincode" ng-model="profile.pincode" pattern="[0-9]*" required>
        </label> 
        <br>
        <span id="sp" ng-show="myForm.pincode.$error.required">*Pincode is required</span> 
        <br>
        <span id="sp" ng-show="myForm.pincode.$error.pattern">Only numbers are allowed</span>
   </div>

    <div class="list list-inset">      
        <label style="border-color: #1B5E20;border-radius: 10px;" class="item item-input item-stacked-label"> 
        <span class="input-label" style="color: #387ef5">Mobile Number</span>
        <input type="tel" name="tel" ng-model="profile.phone" pattern="[0-9+]*" ng-minlength="3" ng-maxlength="15" clearInput required>
        </label>  
        <br>   
        <span id="sp" ng-show="myForm.tel.$error.required">*Mobile number is required</span>
        <br> 
        <span id="sp" ng-show="myForm.tel.$error.minlength">*Minimum of 3 numbers is required</span>
        <br>
        <span id="sp" ng-show="myForm.tel.$error.pattern">*Only numbers are allowed</span>
        <br>
        <span id="sp" ng-show="myForm.tel.$error.maxlength">*Maximum of 15 mumbers allowed</span>
    </div>

    <div class="list list-inset">
      <ion-item style="border-color: #1B5E20;border-radius: 10px;">
      <span class="input-label" style="color: #387ef5">Gender</span>
      <ion-radio ng-model="profile.choice" value="male">Male</ion-radio>
      <ion-radio ng-model="profile.choice" value="female">Female</ion-radio>
      </ion-item>
    </div>

    <div class="list list-inset">      
        <label style="border-color: #1B5E20;border-radius: 10px;" class="item item-input item-stacked-label"> 
        <span class="input-label" style="color: #387ef5">Date Of Birth</span>
        <input type="Date" ng-model="profile.dob" clearInput >
        </label>  
     </div>
     
   <!--   <br>
     <br> -->

    <!-- <div class="list">
      <div style="background-color: #387ef5" class="item item-divider">Interests</div>
      <div class="item">
        <ion-toggle ng-repeat="interest in interests" ng-model="int1" toggle-class="calm">{{interest.interest_name}}</ion-toggle>
      </div>
       -->
    </div>

    <br>
     <br>
     <ion-checkbox name="tnc" ng-model="tnc">I have read the Terms and Conditions</ion-checkbox>
     <br>
     
     <span id="sp" ng-if="! tnc">*Please check and agree <a href="" ng-click="tncpopup()">Terms and Conditions</a></span>
     <br>
     <br>
     <br>
     <div class="row">
       <div class="col col-offset-10"></div>
       <div class="col col-20 col-offset-10">
       <!-- <button class="button button-positive" ng-click="sendSms()" ng-disabled="myForm.$invalid">Submit</button> -->
        <button class="button button-positive" ng-click="submitProfile(profile,user_id)" ng-disabled="myForm.$invalid || !tnc">Submit</button>
       </div>
       <div class="col col-offset-10"></div>
     </div>
     
     <br>
     <br>
     
     </form>
     </ion-scroll>
</ion-content>
</ion-view>

