<ion-view ng-controller="login">

<i ng-click="cancel()" style="margin-left: 40%" class="icon ion-android-cancel"></i>
<br>
<br>

<a style="align-items: center;" class="fb-xfbml-parse-ignore" title="Share on Facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.google.co.in%2F&amp;src=sdkpreparse">
<button style="color: #3b5998" class="button button-icon icon-only icon ion-social-facebook">
</button>
</a>

<a href="https://twitter.com/intent/tweet?text=https%3A%2F%2Fwww.google.co.in%2F" title="Share on Twitter">
  <button style="color: #00aced" class="button button-icon icon-only icon ion-social-twitter"></button>
</a>

<a href="whatsapp://send?text=https%3A%2F%2Fwww.google.co.in%2F" title="Share on Whatsapp" data-action="share/whatsapp/share">
<button style="color: #25d366" class="button button-icon icon-only icon ion-social-whatsapp">
</button>
</a>

<a href="https://plusone.google.com/_/+1/confirm?hl=en&url=www.facebook.com" target="blank" title="Share on Google+"><button style="color: #d34836" class="button button-icon icon-only icon ion-social-googleplus">
</button></a>

</ion-view>
